models/*
!models/.gitkeep

.vscode/
__pycache__/

.env
.env.*
!.env.example

.cache.sqlite

data/*
!data/zywoo_data.csv
!data/zywoo_events.csv
!data/zywoo_matches.csv
!data/zywoo_data_event_datetimes.csv